# Splitting of Dataset

<h2> Importing Libraries </h2>

In [8]:
import pandas as pd
import numpy as np

<h2> Importing Dataset </h2>

In [9]:
df = pd.read_excel("Salary_Dataset_02.xls")

In [10]:
df.head()

   Australia  Canada  Dubai  USA  Salary  YearsExperience  Purchased
0          0       0      1    0   39343              1.1          0
1          0       1      0    0   46205              1.3          1
2          0       1      0    0   37731              1.5          0
3          0       1      0    0   43525              2.0          0
4          0       0      0    1   39891              2.2          0

<h2> Dividing into Target and Predictor Variables </h2>

In [11]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

<h2> Divide Data as Training Set and Testing Set </h2>

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size=0.2, random_state=24)

In [15]:
X_test

    Australia  Canada  Dubai  USA  Salary  YearsExperience
10          0       0      1    0   63218              3.9
12          0       0      1    0   56957              4.0
26          0       0      1    0  116969              9.5
8           0       0      1    0   64445              3.2
6           0       1      0    0   60150              3.0
27          0       0      0    1  112635              9.6